<html>
  <head>
     <title>Codeclub</title>
     <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>

    <div class="container"><br>
      <center>
        <h2>Code Club создание сертификатов в онлайне</h2>
      </center>
    </div>
    <div class=container"><br>
    <div class="row align-items-center justify-content-center">
    <div class="col-md-4">
      <form  action="" method="post" role="form">
        {{ form.csrf }}
        <div class="form-group">

          <label for="name">Имя Фамилия  Ученика / Имя Фамилия Ментора:</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Имя Фамилия">
            <br>
          <label for="email">Курс:</label>
          <input type="text" class="form-control" id="email" name="email" placeholder="Курс">
	    <br>
	  <label for="surname">Руководитель проекта:</label>
	  <input type="text" class="form-control" id="surname" name="surname" placeholder="Руководитель проекта">
	    <br>
	</div>												   
      <!-- Material unchecked -->
<div class="form-check">
  <input type="radio" class="form-check-input" id="StudentCheck" name="StatusRadios" value="Student" checked>
  <label class="form-check-label" for="materialUnchecked">Сертификат студента (Сертификат об окончании курса)</label>
</div>

<!-- Material checked -->
<div class="form-check">
  <input type="radio" class="form-check-input" id="MentorCheck" name="StatusRadios" value="Mentor" >
  <label class="form-check-label" for="materialChecked">Сертификат Ментора (Сертификат-Благодарность Ментору)</label>
</div>
<!--- Checkbox-->
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="true" name="It2SchoolBox">
  <label class="form-check-label" for="defaultCheck1">
    It2School (Сертификат с знаком It2School)
  </label>
</div>
        <center>
          <button type="submit" class="btn btn-success">Генерировать</button>
        </center>
      </form>

      <br>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}

            {% if "Error" in message[1]: %}
                <div class="alert alert-danger">
                <strong>Error: </strong> {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}

    </div>
    <br>
    </div>
    </div>
  </body>
</html>